@{
    ViewData["Title"] = "Home Page";
}

<head>
    <title> DJP's Video Game Database - Home</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hello, my name is Dakota Parrish.</p>
    <img src="~/database_logo.png" />
</div>
