@{
    ViewData["Title"] = "Home Page";
}

<!--Header field of the home index page-->
<head>
    <title> DJP's Video Game Database - Home</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<!--Image of the database's logo-->
<img src="~/database_logo.png" />

<!--Divider used to include the introduction on the index page for what the web application is all about.-->
<div class="text-center">
    <h1 class="display-4">DJP's Game Database Intro</h1>
    <p>Hello, my name is Dakota Parrish. Welcome to my personal game database. The purpose of this web application is to essentially store a 
    video game of your choosing and then if you wish to see the synopsis of the game, you can click on the Video Game Additional
    Details tab on the nav bar. If there is no current synopsis, you can add one as well! If you wish to see the video game's that are currently added to the database, you can do so by
    clicking on the Video Games tab on the nav bar! Happy navigating!</p>
</div>
