<!----------------------------------------------------------------------------------------------------------->
<!--Student Name: Dakota Parrish-->
<!--Project Name: NETD3202 Lab 5-->
<!--Course Code: NETD3202-->
<!--Date: December 12, 2020-->
<!--Purpose: This page is used to view the selected video games' description. This page was created through the use of
    Microsoft's Entity Framework.
<!-------------------------------------------------------------------------------------------------------------->
@model NETD3202Lab5_1.Models.VideoGameDetails

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>VideoGameDetails</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.videoGameDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.videoGameDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.videoGameID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
