<!----------------------------------------------------------------------------------------------------------->
<!--Student Name: Dakota Parrish-->
<!--Project Name: NETD3202 Lab 5-->
<!--Course Code: NETD3202-->
<!--Date: December 12, 2020-->
<!--Purpose: This page is used to edit any of the video's current game descriptions. This page was created through
    the use of Microsoft's Entity Framework.
<!-------------------------------------------------------------------------------------------------------------->
@model NETD3202Lab5_1.Models.VideoGameDetails

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>VideoGameDetails</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="videoGameID" />
            <div class="form-group">
                <label asp-for="videoGameDescription" class="control-label"></label>
                <input asp-for="videoGameDescription" class="form-control" />
                <span asp-validation-for="videoGameDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
